@media screen and (max-width: 600px) {

	.card {
		width: 80%;
	}

	.folio {
		flex-direction: row !important;
		justify-content: center;
		align-items: center;
		gap: 5%;
	}
	.imgCard {
		height: 150px;
	}


}
